.render-items-container {
    width: 750px;
    height: auto;
}

.create-item-container {
    width: 750px;
    height: auto;
}

.delete-icon, .edit-icon {
    position: relative;
    font-size: 20px;
    color: white;
    z-index: 3;
    top: 20px;
    left: 180px;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    padding-left: 7.5px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon {
    padding-top: 7px;
    padding-left: 8.5px;
    background-color: red;
    left:45px;
}

.render-an-item-image {
    width: 275px;
    height: 275px;
    border: none;
}

.add-to-cart-button {
    padding: 3px 10px;
    font-size: 14px;
}

.add-to-cart-button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.render-cart-item {
    width: 750px;
    height: auto;
}

.render-an-item-card {
    width: calc(275px + 1.5px);
}