.create-store-container {
  text-align: center;
  top: 200px;
}

.create-store-form-container {
  width: 700px;
  height: auto;
  padding: 10px;
}

.store-contains {
  padding: 10px;
}

.create-store-button:hover {
  color: rgba(255, 255, 255, 0.85);
  background-color: #00d699f1;
}

.create-item-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.edit-store-button, .notification-store-button, .delete-store-button {
  position: absolute;
  right:0px;  
  top:75px;
  transform: translate(-60px, 0%);
}